
@{
	ViewData["Title"] = "Master Data User";

    Layout = "_LayoutLender";
}

<div class="d-flex">
    <h2>Requested Loans</h2>
</div>
<table class="table table-striped" id="loanTable">
    <thead>
        <tr>
            <th>Borrower Name</th>
            <th>Loan Amount</th>
            <th>Interest Rate</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Modal for changing loan status -->
<div class="modal fade" id="changeLoanStatusModal" tabindex="-1" role="dialog" aria-labelledby="changeLoanStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeLoanStatusModalLabel">Fund Loan</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to fund this loan?</p>
                <div class="loan-details">
                    <p><strong>Borrower Name:</strong> <span id="modalBorrowerName"></span></p>
                    <p><strong>Loan Amount:</strong> <span id="modalLoanAmount"></span></p>
                    <p><strong>Interest Rate:</strong> <span id="modalInterestRate"></span></p>
                    <p><strong>Duration:</strong> 12 months</p>
                </div>
                <!-- Hidden input for loanId -->
                <input type="hidden" id="loanId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="changeLoanStatus()">Confirm</button>
                <button type="button" class="btn btn-secondary" onclick="hideChangeStatusModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/mstLoan.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
}
